.search-container {
    background-color: rgba(0, 0, 0, 0.938);
    text-align: center;
    line-height: 40px;
}

.search-container input {
    width: 75%;
}

.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container {
    margin-right: 20px;
    margin-left: 30px;
}