.header {
    text-align: center;
}

.logo {
    height: 50px;
}

.header nav {
    background-color: black;
    line-height: 40px;
    text-align: left;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    font-weight: 600;
    color: white;
}

.header nav a:hover {
    background-color: lightgray;
    color: rgb(20, 22, 27);
}

.header nav img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.header nav .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header nav .user-info p {
    color: #f3f3f3;
}